# Question 3 (Data Visualisation)
A colleague is working with a salary dataset based on recent poly graduates in a specific course of study highly subsidised by the government, to compare whether the career choices made by students from Group X are different from those from Group Y in any manner. 

She has already produced the following summary table and listed out the main insight she wishes to highlight, as well as pertinent observations on the dataset’s characteristics, but is struggling to come up with a good way to communicate the insight to her audience though visualisations while also accurately reflecting the dataset’s characteristics.

In [1]:
import pandas as pd

In [2]:
# Define the data for group X
data_X = {
    'industry': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'others'],
    'median_salary': [3150, 3300, 2650, 2400, 4100, 3400, 2800, 2300, 2900],
    'count': [83, 53, 47, 12, 30, 23, 12, 8, 21],
    'job_nature': [
        'closely_related', 'closely_related', 'closely_related', 'closely_related',
        'somewhat_related', 'somewhat_related', 'somewhat_related', 'somewhat_related',
        'unrelated'
    ]
}

# Define the data for group Y
data_Y = {
    'industry': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'others'],
    'median_salary': [3000, 3100, 2600, 2400, 3900, 3150, 2600, 2200, 1900],
    'count': [23, 9, 32, 15, 3, 7, 22, 11, 28],
    'job_nature': [
        'closely_related', 'closely_related', 'closely_related', 'closely_related',
        'somewhat_related', 'somewhat_related', 'somewhat_related', 'somewhat_related',
        'unrelated'
    ]
}

In [3]:
# Create DataFrames
df_X = pd.DataFrame(data_X)
df_Y = pd.DataFrame(data_Y)

# Add group columns
df_X['group'] = 'X'
df_Y['group'] = 'Y'

# Combine DataFrames
df_combined = pd.concat([df_X, df_Y], ignore_index=True)

# Save DataFrames to CSV
df_X.to_csv('./data/student_group_X.csv', index=False)
df_Y.to_csv('./data/student_group_Y.csv', index=False)
df_combined.to_csv('./data/student_group_combined.csv', index=False)

In [4]:
# Display DataFrames
print("DataFrame for Group X:")
print(df_X)

DataFrame for Group X:
  industry  median_salary  count        job_nature group
0        A           3150     83   closely_related     X
1        B           3300     53   closely_related     X
2        C           2650     47   closely_related     X
3        D           2400     12   closely_related     X
4        E           4100     30  somewhat_related     X
5        F           3400     23  somewhat_related     X
6        G           2800     12  somewhat_related     X
7        H           2300      8  somewhat_related     X
8   others           2900     21         unrelated     X

In [5]:
print("\nDataFrame for Group Y:")
print(df_Y)

DataFrame for Group Y:
  industry  median_salary  count        job_nature group
0        A           3000     23   closely_related     Y
1        B           3100      9   closely_related     Y
2        C           2600     32   closely_related     Y
3        D           2400     15   closely_related     Y
4        E           3900      3  somewhat_related     Y
5        F           3150      7  somewhat_related     Y
6        G           2600     22  somewhat_related     Y
7        H           2200     11  somewhat_related     Y
8   others           1900     28         unrelated     Y

In [6]:
print("\nCombined DataFrame:")
print(df_combined)

Combined DataFrame:
   industry  median_salary  count        job_nature group
0         A           3150     83   closely_related     X
1         B           3300     53   closely_related     X
2         C           2650     47   closely_related     X
3         D           2400     12   closely_related     X
4         E           4100     30  somewhat_related     X
5         F           3400     23  somewhat_related     X
6         G           2800     12  somewhat_related     X
7         H           2300      8  somewhat_related     X
8    others           2900     21         unrelated     X
9         A           3000     23   closely_related     Y
10        B           3100      9   closely_related     Y
11        C           2600     32   closely_related     Y
12        D           2400     15   closely_related     Y
13        E           3900      3  somewhat_related     Y
14        F           3150      7  somewhat_related     Y
15        G           2600     22  somewhat_related     Y
16        H           2200     11  somewhat_related     Y
17   others           1900     28         unrelated     Y